@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  background-color: #161722;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neumorphism-card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #161722;
  box-shadow: 23px 23px 45px #06060e, -23px 23px 45px #1b1c29;
  padding: 20px;
}

.image-quick-zoom-in {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-quick-zoom-in img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: 0 0;
  transition: transform  .25s, visibility .25s ease-in;
}

.image-quick-zoom-in:hover img {
  transform: scale(1.8);
}

h3 {
    color: #e1e1e1;
    font-size: 1.8em;
    font-weight: 600;
    margin: 10px 0;
}

p  {
    color: #888;
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0 20px 0;
}

.social-icons a {
    color: #e1e1e1;
    font-size: 1.5em;
    margin: 0 5px;
    text-decoration: none;
    transition: color 0.5s;
}

.social-icons a:hover {
    color: #0073b1;
}
