body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .5s, transform .5s;

}

.hidden {
    opacity: 0;
    transform: scale(1.1);
}
